body {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: royalblue;
    color: #ffffff;
    padding: 16px;
}

footer a {
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}
h1 {
    background-color: royalblue;
    color: #ffffff;
    margin: -8px -8px 8px -8px;
    padding: 1em;
}


.container {
    padding: 16px;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 100vw;
}

td,
th {
    border: 1px solid #e6e6ff;
    text-align: left;
    padding: 8px;
}

th {
    max-width: 20vw;
}

td {
    max-width: 80vw;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #e6e6ff;
}

th[colspan] {
    text-align: center;
    background-color: #0033cc;
    color: #ffffff;
}
* {
  box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}

@media (max-width: 768px) {

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}